body{
  background-color: rgb(240, 233, 252);
  padding:3em;
  font-family: cursive;
  color: rgb(8, 8, 194);
  box-sizing: border-box;
 
}

.main{
  background-color: rgb(29, 12, 129);
  color:#f8f5f5;
  padding:2em;
  width:100%;
  
}

#myNavbar a{
color:red;
}

.main input, .main textarea{
  background:  rgb(207, 186, 243)
}


nav{
  background-color: rgb(236, 214, 252);
}

.home,.contact, .not-found{
  display: flex;
  justify-content: center;
  position: relative;
  padding:1em;
}

.stocks{
  transform: skewY(3deg);
  perspective: 400px;
  
}

 /* .stocks:hover{
  background-color: purple;
  color:white;
} */

.banner-img{
  padding-right: 7em;
  
}

.btn-submit{
  background-color:rgb(62, 247, 25);
}

.footer{
  background-color: rgb(228, 214, 252);
 padding:3em;
}

.footer p{
  text-align: center;
}



